@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter {
	opacity: 0;
}
.page-enter-active {
	opacity: 1;
	transition: all 300ms ease-out;
}
.page-exit {
	opacity: 0;
}
.page-exit-active {
	opacity: 0;
	transition: all 300ms ease-out;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	box-sizing: border-box;
}
