@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter {
	opacity: 0;
}
.page-enter-active {
	opacity: 1;
	transition: all 250ms;
}
.page-exit {
	height: 0;
	opacity: 0;
}
.page-exit-active {
	transition: all 250ms;
}

/* FADE */
.fade-enter-active {
	height: 0;
}

.fade-enter {
	height: auto;
}

.fade-exit {
	height: auto;
}

.fade-exit-active {
	height: 0px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	box-sizing: border-box;
}

:root {
	background: none;
}

textarea:focus {
	outline: none;
}

input,
input:focus,
input:active,
input:hover,
input:focus-within {
	outline: none;
}
